LAmfa.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "AccessPackage": {
                "type": "object",
                "properties": {
                  "Description": { "type": "string" },
                  "DisplayName": { "type": "string" },
                  "Id": { "type": "string" }
                }
              },
              "AccessPackageAssignmentRequestId": { "type": "string" },
              "AccessPackageCatalog": {
                "type": "object",
                "properties": {
                  "Description": { "type": "string" },
                  "DisplayName": { "type": "string" },
                  "Id": { "type": "string" }
                }
              },
              "Answers": { "type": "array" },
              "Assignment": {
                "type": "object",
                "properties": {
                  "AssignmentPolicy": {
                    "type": "object",
                    "properties": {
                      "DisplayName": { "type": "string" },
                      "Id": { "type": "string" }
                    }
                  },
                  "Id": { "type": "string" },
                  "State": { "type": "string" },
                  "Status": { "type": "string" },
                  "Target": {
                    "type": "object",
                    "properties": {
                      "ConnectedOrganization": {
                        "type": "object",
                        "properties": {
                          "Description": { "type": "string" },
                          "DisplayName": { "type": "string" },
                          "Id": { "type": "string" }
                        }
                      },
                      "DisplayName": { "type": "string" },
                      "Id": { "type": "string" },
                      "ObjectId": { "type": "string" }
                    }
                  }
                }
              },
              "CallbackConfiguration": {
                "type": "object",
                "properties": {
                  "DurationBeforeTimeout": { "type": "string" }
                }
              },
              "CallbackUriPath": { "type": "string" },
              "CustomExtensionStageInstanceId": { "type": "string" },
              "RequestType": { "type": "string" },
              "Requestor": {
                "type": "object",
                "properties": {
                  "DisplayName": { "type": "string" },
                  "Id": { "type": "string" },
                  "ObjectId": { "type": "string" },
                  "Email": { "type": "string" }
                }
              },
              "Stage": { "type": "string" },
              "State": { "type": "string" },
              "Status": { "type": "string" }
            }
          }
        },
        "operationOptions": "IncludeAuthorizationHeadersInOutputs"
      }
    },
    "actions": {
      "Initialize_ManagerObjectId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ManagerObjectId",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "Initialize_ChatId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ChatId",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "Get_requestor_information_from_EM": {
        "type": "ParseJson",
        "inputs": {
          "content": "@triggerBody()?['Requestor']",
          "schema": {
            "type": "object",
            "properties": {
              "DisplayName": { "type": "string" },
              "Email": { "type": "string" },
              "Id": { "type": "string" },
              "ObjectId": { "type": "string" }
            }
          }
        },
        "runAfter": {
          "Initialize_variable": ["Succeeded"]
        }
      },
      "Get_Manager": {
        "type": "Http",
        "inputs": {
          "uri": "https://graph.microsoft.com/v1.0/users/@{body('Get_target_information_from_EM')?['ObjectId']}/manager",
          "method": "GET",
          "authentication": {
            "audience": "https://graph.microsoft.com",
            "type": "ManagedServiceIdentity"
          }
        },
        "runAfter": {
          "Get_target_information_from_EM": ["Succeeded"],
          "Get_requestor_information_from_EM": ["Succeeded"]
        }
      },
      "Parse_Manager_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Get_Manager')",
          "schema": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "displayName": { "type": "string" },
              "mail": { "type": "string" }
            }
          }
        },
        "runAfter": {
          "Get_Manager": ["Succeeded"]
        }
      },
      "Set_ManagerObjectId": {
        "type": "SetVariable",
        "inputs": {
          "name": "ManagerObjectId",
          "value": "@{body('Parse_Manager_Response')?['id']}"
        },
        "runAfter": {
          "Parse_Manager_Response": ["Succeeded"]
        }
      },
      "Create_TAP": {
        "type": "Http",
        "inputs": {
          "uri": "https://graph.microsoft.com/v1.0/users/@{body('Get_target_information_from_EM')?['ObjectId']}/authentication/temporaryAccessPassMethods",
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "isUsableOnce": false,
            "lifetimeInMinutes": 240
          },
          "authentication": {
            "audience": "https://graph.microsoft.com",
            "type": "ManagedServiceIdentity"
          }
        },
        "runAfter": {
          "Get_requestor_information_from_EM": ["Succeeded"],
          "Get_target_information_from_EM": ["Succeeded"],
          "Set_ManagerObjectId": ["Succeeded"]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        }
      },
      "Parse_TAP_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Create_TAP')",
          "schema": {
            "type": "object",
            "properties": {
              "temporaryAccessPass": { "type": "string" },
              "lifetimeInMinutes": { "type": "integer" }
            }
          }
        },
        "runAfter": {
          "Create_TAP": ["Succeeded"]
        }
      },
      "List_Authenticator_Methods": {
        "type": "Http",
        "inputs": {
          "uri": "https://graph.microsoft.com/v1.0/users/@{body('Get_target_information_from_EM')?['ObjectId']}/authentication/microsoftAuthenticatorMethods",
          "method": "GET",
          "authentication": {
            "audience": "https://graph.microsoft.com",
            "type": "ManagedServiceIdentity"
          }
        },
        "runAfter": {
          "Parse_TAP_Response": ["Succeeded"],
          "Set_ManagerObjectId": ["Succeeded"]
        }
      },
      "ForEach_Authenticator_Method": {
        "type": "Foreach",
        "foreach": "@body('List_Authenticator_Methods')?['value']",
        "actions": {
          "Delete_Authenticator_Method": {
            "type": "Http",
            "inputs": {
              "uri": "https://graph.microsoft.com/v1.0/users/@{body('Get_target_information_from_EM')?['ObjectId']}/authentication/microsoftAuthenticatorMethods/@{item()?['id']}",
              "method": "DELETE",
              "authentication": {
                "audience": "https://graph.microsoft.com",
                "type": "ManagedServiceIdentity"
              }
            }
          }
        },
        "runAfter": {
          "List_Authenticator_Methods": ["Succeeded"]
        }
      },
      "Initialize_variable": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "StaticEmail",
              "type": "string",
              "value": "youremail@youremail.onmicrosoft.com"
            }
          ]
        },
        "runAfter": {}
      },
      "Get_target_information_from_EM": {
        "type": "ParseJson",
        "inputs": {
          "content": "@triggerBody()?['Assignment']?['Target']\n",
          "schema": {
            "type": "object",
            "properties": {
              "DisplayName": { "type": "string" },
              "Email": { "type": "string" },
              "Id": { "type": "string" },
              "ObjectId": { "type": "string" }
            }
          }
        },
        "runAfter": {
          "Initialize_variable": ["Succeeded"]
        }
      }
    }
  }
}
